/.ipynb_checkpoints/
/ETC/
/cache/
Project_Kakao chat EDA/*ipynb
Project_Kakao chat EDA/*txt
Project_Starcraft/*zip
Project_Starcraft/*csv
Study_LOL/*csv
Project_Starcraft/*feather
/duck9667.git/
Kaggle_IMDB movie review/*tsv
공모전/*csv
공모전/*xlsx
공모전/*zip

Rakefile
Project_Dongjak/*pptx
Project_Dongjak/*pdf
